$background-color: #242424;
$background-color-main: #303030;

$accent-color: #815bd8;
$error-color: #ff4d4d;
$font-color: #f5f5f5;
$primary-font: 'Roboto', sans-serif;

$font-size-title: 24px;
$font-size-subtitle: 20px;